body{

 /* background:url('./../cus_res/tpl/Merchant/default/common/market/bg/bg_01.png');
 bg_white*/
 /*askj01.jpg
 bg_white.jpg
 */
   
    background:url('./../cus_res/tpl/Merchant/default/common/market/bg/askj02.jpg');
	background-size: cover;
}

li{list-style:none;}
		.food_spec_box{display:none;}

.food_spec_box .spec_title{
	padding:20px;
	background:#E7EBEE;
	line-height:1.5;
	position:relative;
}
.food_spec_box .spec_title .name{
	font-size:18px;
}
.food_spec_box .spec_title .price{
	font-size:20px;
	color:#F03C3C;
	margin-left:-4px;
}
.food_spec_box .spec_title .close_spec{
	position: absolute;
    background: url(/o2o/tpl/Merchant/static/css/img/storestaff/foodshop_spec_close.png) no-repeat;
    height: 54px;
    width: 54px;
    right: 5px;
    top: 30px;
    background-size: 40px;
	cursor:pointer;
}
.spec_pro_box{
	height: auto;/*320px;*/
    overflow: auto;
}
.food_spec_box .spec_content,.food_spec_box .properties_content{
	padding:20px;
}
.food_spec_box .spec_content .row,.food_spec_box .properties_content .row{
	margin-bottom:20px;
}
.food_spec_box .spec_content .row:last-child,.food_spec_box .properties_content .row:last-child{
	margin-bottom:0px;
}
.food_spec_box .spec_content .spec_name,.food_spec_box .properties_content .properties_name{
	color:#333;
	font-size:14px;
	margin-bottom:10px;
}
.food_spec_box .spec_content .spec_box li,.food_spec_box .properties_content .properties_box li{
	float:left;
	color:#F03C3C;
	font-size:14px;
	padding:8px 16px;
	margin-right:16px;
	border: 1px solid #F03C3C;
    border-radius: 5px;
	cursor:pointer;
	margin-bottom:8px;
}
.food_spec_box .spec_content .spec_box li.active{
	background:#F03C3C;
	color:white;
}
.food_spec_box .properties_content .properties_box li{
	border-color: #06c1ae;
    color: #06c1ae;
}
.food_spec_box .properties_content .properties_box li.active{
	background: #06c1ae;
    color: white;
}

.food_spec_box .spec_btn{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
    background: #F03C3C;
    margin: 0 20px;
    border-radius: 5px;
	cursor:pointer;
	margin-top:15px;
}




/*2023-9-4*/
.localapp_fix{ 
    position: fixed; 
 
	top: 150px;
	/*left: 500px; */
	right:10px;
	background: #f3f5f7;
	width: 730px; 
	z-index: 999; 
	min-height:400px;
	border:1px solid #48a731;
	height:400px;
	display:none;
 }
 .localapp_fix .set_top{
   background: #48a731; line-height: 35px; padding-left: 22px; padding-right: 198px;
   }
.localapp_fix .set_top .set{
    font-size: 18px; color: #fff; 
}
.localapp_fix .set_top .return{ width: 198px; background: #ffbc15; font-size: 24px; color: #101010;  position: absolute; right: 0px; top: 0px; text-indent: 50px; cursor: pointer;}
.localapp_fix .set_end{ padding: 5px 12px; }
.localapp_fix .set_end .bf{ background: #fff; }
.localapp_fix .set_end .d4{ border: #d4d9dc 1px solid; }
.localapp_fix .set_end .h40{ line-height: 40px; padding: 0 10px 0 20px; font-size: 18px; margin-bottom: 5px; }
.localapp_fix .set_end .number{ line-height: 40px; border-left: #d4d9dc 1px solid; border-top:#d4d9dc 1px solid; margin-bottom: 6px;  }
.localapp_fix .set_end .set_fl{ width: 80%;  }
.localapp_fix .set_end .number .fl{ width: 80%; border-right: #d4d9dc 1px solid; border-bottom:#d4d9dc 1px solid; box-sizing: content-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; text-indent: 20px;  }
.localapp_fix .set_end .number .fr{ width: 20%; border-right: #d4d9dc 1px solid; border-bottom:#d4d9dc 1px solid; box-sizing: content-box;-moz-box-sizing: 
border-box;-webkit-box-sizing: border-box; text-align: center; }

.localapp_fix .set_end .number .tit{  font-size: 14px; color: #101010; background: #e7eaed; }
.localapp_fix .set_end .number .pri .fl{ font-size: 16px; color: #333333; }
.localapp_fix .set_end .number .pri .fr{ color: #ef2e05; font-size: 18px; }
.localapp_fix .set_end .discount .fl{ font-size: 18px; color: #333333;  }
.localapp_fix .set_end .discount .fr{ color: #ef2e05; }
.localapp_fix .set_end .choice .fr{ color: #cccccc; cursor: pointer; }
.localapp_fix .set_end .choice .fr:after{ display: inline-block; content: ">"; margin-left: 8px; color: #cccccc; }
.localapp_fix .set_end .credit li{ width: 25%; box-sizing: content-box;  -moz-box-sizing: border-box;-webkit-box-sizing: border-box; float: left; }
.localapp_fix .set_end .credit li .li_n{  line-height: 30px; margin: 10px 0;  padding-left: 20px;border-right: #d4d9dc 1px solid; }
.localapp_fix .set_end .credit li h2.name{ font-size: 16px; }
.localapp_fix .set_end .credit li .text{ font-size: 16px; }
.localapp_fix .set_end .credit li.wb3{ width: 35%; }
.localapp_fix .set_end .credit li.wb2{ width: 30%; }
.localapp_fix .set_end .credit li.w3{ width: 35%; }
.localapp_fix .set_end .credit li.w2{ width: 20%;  text-align: center; border-left: #d4d9dc 1px solid; }
.localapp_fix .set_end .credit li.w3 .li_n{ border-right: 0px; }
.localapp_fix .set_end .credit li.w2 .li_n{ border-right: none; padding-left: 0px; padding:15px 0; }
.localapp_fix .set_end .credit li .ef2{ color: #ef2e05; }
.localapp_fix .set_end .credit li .use{ background: url(../cus_res/tpl/Merchant/default/common/market/images/yujt_07.png) left center no-repeat; padding-left: 30px; display: inline-block; cursor: pointer; font-size: 18px; }
.localapp_fix .set_end .credit li .use.on{ background: url(../cus_res/tpl/Merchant/default/common/market/images/yujt_13.png) left center no-repeat; padding-left: 30px; }
.localapp_fix .set_end .modify{  color: #fe641d; margin-left: 10px; cursor: pointer; }
.localapp_fix .set_end .credit{ margin-bottom: 5px; } 
.localapp_fix .set_end .still{ line-height: 60px; font-size: 23px; color: #ef2e05; padding-right: 24px; }
.localapp_fix .set_end .still_zf{  color: #101010; font-size: 18px; }
.localapp_fix .set_end .pay li{  float: left;  line-height: 30px;   cursor: pointer; border:#ffffff 2px solid; border-radius: 10px; margin-top: 15px;  text-align: center; width: 23%;box-sizing: content-box;  -moz-box-sizing: border-box;-webkit-box-sizing: border-box; margin-right: 2%;  box-shadow: 2px 2px 3px 0px #898b8f;   }
.localapp_fix .set_end .pay li .line_n{ padding: 0px 5px;  background: #fdfdfd; box-shadow: 0px 0px 20px 3px #eaeaea inset;  }
.localapp_fix .set_end .pay li span{ display: inline-block;  padding: 18px 0; padding-left: 40px; font-size: 20px;}
.localapp_fix .set_end .pay li.line span{ background: url(../cus_res/tpl/Merchant/default/common/market/images/ztyt_19.png) left center no-repeat;   }
.localapp_fix .set_end .pay li.wx span{ background: url(../cus_res/tpl/Merchant/default/common/market/images/ztyt_21.png) left center no-repeat;    }
.localapp_fix .set_end .pay li.cyberwincloudpay span{ background: url(../cus_res/tpl/Merchant/default/common/market/images/pay_cyberwincloudpay.png) left center no-repeat;    }
.localapp_fix .set_end .pay li.alipay span{ background: url(../cus_res/tpl/Merchant/default/common/market/images/ztyt_23.png) left center no-repeat;    }

.localapp_fix .set_end .pay li.confirm{ background: #0099dc;  color: #ffffff; width: 25%; margin-right: 0px;  box-shadow: 0px 0px 0px 0px; line-height: 34px; border: 0px;}
.localapp_fix .set_end .pay li.confirm span{ padding: 18px 0; font-size: 26px; }

.localapp_fix .set_end .set_fr{ width: 18%;  }
.localapp_fix .set_end .set_fr li .line_n{box-shadow: 0px 0px 20px 3px #eaeaea inset; cursor: pointer; text-align: center; background: #fdfdfd;  padding: 0 20px;   line-height: 30px; padding: 25px 0; }
.localapp_fix .set_end .set_fr .cancel{ font-size: 22px; color: #ff5508; }
.localapp_fix .set_end .set_fr li{ box-shadow: 2px 2px 3px 0px #898b8f;  border:#ffffff 2px solid; border-radius: 10px; margin-bottom: 12px;  }
.localapp_fix .set_end .set_fr .on-line .line_n{ font-size: 20px; color: #3f3a39; padding: 45px 0 5px 0; background: url(../cus_res/tpl/Merchant/default/common/market/images/ztyt_07.png) center 10px no-repeat #fdfdfd; }

.localapp_fix .mulpaytable{
	width:710px;

	background:#c6e0ea;
}
/*复合支付行样式*/
.localapp_fix .chat_end .mulpaytable td{
	border:1px solid #00aaee;
}

.localapp_fix .chat_end .mulpaytable th{
	border:1px solid #ffffff;
}

.localapp_fix .mulpaytable th{
	border:1px solid #ffffff;
}

/*复合支付行样式*/
.localapp_fix  .mulpaytable td{
	border:1px solid #00aaee;
}
.cwpd_loaclapp_sel{
    border:1px solid #ffffff;
	background:#ffbc15;
	width:55px;
	height:32px;
}



/*920*/
.left{
/*
width: 800px;
*/
width: 600px;
border-radius: 30px; /*background: #343435;*/ 
margin-top: 10px; 
background: -webkit-linear-gradient(top, #343434 0%,#6d5870 60%,#454559 100%); float: left;
}
.left .left_n input.input{ line-height: 24px; padding: 13px 60px; width: 205px; background: #fff;  font-size: 20px;   border-radius: 50px;  box-shadow: 0px 0px 10px 0 #c0c0c0 inset; }
.left .left_n input.input::-webkit-input-placeholder{color: #cccccc;}

.left .left_input .del{ position: absolute; width: 42px; height: 28px;   right: 30px; top: 12px; cursor: pointer;   }
/*920*/
.left{width: 920px;min-width:500px;}
.left{width: 660px;min-width:500px;}


/*2023-9-4 补充*/
.right .right_1uick li{ 
height: 30px; line-height: 30px;
padding: 18px 0; text-align: center; border-radius: 5px; cursor: pointer; margin-bottom: 15px; font-size: 20px; color: #101010;}


/*2023-9-9中部*/
/*
.right_list{
   display: inline-block;
   argin-left: 180px;
}
*/
/*2019-7-6底部*/
.cpwd_boolbar_middle2{ display: inline-block;
	overflow: 1hidden; margin-top: 10px; padding-left: 15px;
	width: 100px;
}

/*
.right_list{
   display: inline-block;
}
*/

.cpwd_boolbar_middle2 .cpwd_bottom_1uick{ color: #fff;  width: 100%; }
.cpwd_boolbar_middle2 .cpwd_bottom_1uick ul{
		margin: 0px; /* 与外界元素的距离为0 */
		padding: 0px; /* 与内部元素的距离为0 */
}
.cpwd_boolbar_middle2 .cpwd_bottom_1uick li{ 
  float:left; height: 30px; line-height: 30px; padding: 18px 0; text-align: center; border-radius: 5px; cursor: pointer; 
  margin-left: 15px; font-size: 20px; color: #101010;
  margin-bottom: 15px;
  }
.cpwd_boolbar_middle2 .cpwd_bottom_1uick .btn{ color: #000; background: #fff; /*background: -webkit-linear-gradient(top, #f7540e 0%,#ef1206 100%); */   }

/*加强版*/
.cpwd_bottom{
    position: fixed;
    bottom: 5px;
	right: 5px;
	background: rgba(0,0,0,0.6);
	    padding-top: 8px;
    padding-bottom: 8px;
	border-radius: 10px;
}


/*缩小*/
.left .tab_list td {
    line-height: 32px;

    font-size: 13px;
}

.left .tab_list tr:last-child{ border-bottom: none; }
.left .tab_list td{ line-height: 32px; padding-left: 22px; font-size: 16px; color: #101010; }

.left .tabx_list td, .left .tabx_list th {
   
    padding-top: 8px;
    padding-bottom: 8px;
}

